<form action="/main/newClient" method="POST">

  <label for="name">Nazwa</label><br /><br />
  <input type="text" id="name" name="name" required />
  <br /><br />
  <h2>Adres</h2>
  <label for="street">Ulica</label><br />
  <input type="text" id="street" name="street" required />
  <br /><br />

  <label for="suite">Numer lokalu</label><br />
  <input type="text" id="suite" name="suite" required />
  <br /><br />

  <label for="city">Miasto</label><br />
  <input type="text" id="city" name="city" required />
  <br /><br />

  <label for="zipcode">Kod pocztowy</label><br />
  <input type="text" id="zipcode" name="zipcode" required />
  <br /><br />

  <label for="nip">NIP</label><br /><br />
  <input type="text" id="nip" name="nip" required />
  <br /><br />

  <button type="submit">Dodaj Klienta</button>
</form>