<h2>Logowanie</h2>

<h2><a href="/login/signup">Rejestracja</a></h2>
<form action="/login" method="POST">

  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="{{user.email}}" required />
  <br /><br />

  <label for="password">Hasło:</label>
  <input
    type="password"
    id="password"
    name="password"
    value="{{user.password}}"
    required
  />
  <br /><br />

  <button type="submit">Zaloguj</button>

</form>